:root {
    /* Primary colors */
    --primary-color: hsl(233, 47%, 7%);
    --secondary-color: hsl(244, 38%, 16%);
    --color-accent: hsl(277, 64%, 61%);

    /* Neutral colors */

    --white: hsl(0, 0%, 100%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2,
h3, h4,
h5, h6 {
    text-wrap: balance;
} 

p,
li,
figcaption {
    max-width: 65ch;
    text-wrap: pretty;
}

body {
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-family: "Lexend Deca", serif;
}

main {
   display: flex; 
   max-width: 62rem;
}

.stats-img {
    display: block;
    max-width: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--color-accent);
    mix-blend-mode: multiply;
    opacity: 0.8;
}

.stats-right-sect,
.stats-left-sect {
    width: 50%;
}

.stats-left-sect {
    padding: 48px 84px 48px 48px;
    background-color: var(--secondary-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.stats-right-sect {
    background-color: var(--color-accent);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.stats-heading span {
    color: var(--color-accent);
}

.stats-heading {
    color: var(--white);
    font-weight: 700;
    font-size: 1.82rem;
    margin-bottom: 28px;
}

.stats-details {
    color: var(--transparent-white);
    font-size: 0.85rem;
    line-height: 1.8;
    margin-bottom: 62px;
}

.stats-summary {
    color: var(--slightly-transparent-white);
    display: flex;
    gap: 48px;

}

.stats-numbers {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.stats-numbers span {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 700;
    font-family: "Inter", serif;

}


.attribution { 
    font-size: 0.875rem; 
    text-align: center;
    position: absolute;
    bottom: 10px;
    color: var(--transparent-white);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 910px) {
    body {
        padding: 30px;
    }

    main {
        flex-direction: column-reverse;
        max-width: 80%;
    }

    .stats-right-sect,
    .stats-left-sect {
        width: 100%;
    }

    .stats-left-sect {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 0px;
        padding: 34px;
    }

    .stats-right-sect {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 0px;
    }

    .stats-heading {
        text-align: center;
        font-size: 1.72rem;
    }

    .stats-details {
        text-align: center;
    }

    .stats-summary {
        flex-direction: column;
        align-items: center;
    }

    .stats-img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 0px;
    }

    footer { 
        display: none;
    }
}