@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--clr-white: hsl(0, 0%, 100%);

--clr-Slate-300: hsl(212, 45%, 89%);
--clr-Slate-500: hsl(216, 15%, 48%);
--clr-Slate-900: hsl(218, 44%, 22%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro", serif;
    background-color: var(--clr-Slate-300);
    min-height: 100svh;
    font-size: 0.938rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

main {
    background-color: var(--clr-white);
    padding: 18px;
    border-radius: 18px;
    max-width: 24rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.qr-code-title {
    color: var(--clr-Slate-900);
    font-size: 1.4rem;
    line-height: 1.15;
    margin-bottom: 16px;
    font-weight: 700;
    padding: 0 28px;
}

.qr-code-description {
    color: var(--clr-Slate-500);
    line-height: 1.4;
    margin-bottom: 14px;
    padding: 0 28px;
}


.qr-code-img{
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 12px;
    margin-bottom: 22px;
}

.attribution {
    font-size: 0.688rem; 
    position: absolute;
    bottom: 10px;
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}